<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>My order in process</title>
</head>
<body>
<div layout:fragment="content">
<h4>This is your order</h4>
This is your seller: <th:block th:text="${seller.name}"/><b th:text="${seller.email}"></b>
Bought at: <b th:text="${currentOrder.boughtAt}"></b>
<table>
    <th:block th:each="product: ${products}">

        <tr>
            <td>
                <th:block th:text="${product.name}"/>
            </td>

            <td>
                <th:block th:text="${product.price}"/>
            </td>

            <td>
                <th:block th:text="${product.count}"/>

            </td>

    </th:block>

</table>
Total:
<th:block th:text="${total}"/>

</body>
</html>