<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/defaultLayout.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <table>
        <tr>
            <td>Name</td>
            <td>Status</td>
        </tr>
        <tr th:each="orderToProduct: ${products}">
            <td th:text="${orderToProduct.product.id}"/>
            <td>
                <a sec:authorize="hasRole('SELLER')"  th:href="@{/products/{id}(id=${orderToProduct.product.id})}">
                    <th:block th:text="${orderToProduct.product.name}"/>
                </a>
                <th:block sec:authorize="hasRole('CUSTOMER')" th:text="${orderToProduct.product.name}"/>
            </td>
            <td th:text="${orderToProduct.productCount}"></td>
            <td th:text="${orderToProduct.product.price}"/>
            <td><img th:if="${orderToProduct.product.imageExtension != null}" height="100"
                     th:src="@{/products/{id}/image(id=${orderToProduct.product.id})}"/></td>
        </tr>

    </table>
</div>
</body>
</html>
