<!DOCTYPE HTML>
  
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>Spring Boot - POST-GET AJAX Example</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
  <h1>Bootstrap Modal</h1>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" id="btnId">Open Modal</button>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="modalId" role="dialog">
    <div class="modal-dialog">
    
      <!-- Bootstrap Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Header</h4>
        </div>
        <div class="modal-body">
          <p id="greetingId"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/getrequest.js"></script>
</body>
</html>