<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div layout:fragment="content">
<br>

<form th:action="@{/users/{id}(id=${id})}" th:method="put">

<table align="center" border="1">

<tr>
    <td>Id</td>
    <td>
       <th:block th:text="${user.id}" />
    </td>

</tr>
    <tr>
        <td>Name</td>
        <td>
            <input type="text" name="name" th:value="${user.name}">

        </td>
    </tr>
<tr>
    <td>Email</td>
    <td>
        <input type="text" name="email" th:value="${user.email}">

    </td>
</tr>
</table>
    <input class="form-submit-button" type="submit" value="Update"/>

</form>
</div>
</body>
</html>