<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Seller Info</title>
    <!--<style type="text/css">
		.content{
			width:800px;
			heights:800px;
			margin-left:230px;
		}

    </style>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}" />
</head>
<body>
<div layout:fragment="content">

<div class="content">
    <table border="1px"  >
        <tr>
            <td align="center ">
                <img th:if="${userModel.imageExtension != null}" height="100"
                     th:src="@{/user/users/seller/{id}/image(id=${userModel.id})}"/>
            </td>

            <td width="300 px" height="25 px ">
                <th:block th:text="${userModel?.name}"/>
            </td>
        </tr>
        <tr>
            <td>Phone number:</td>
            <td width="300 px" height="25 px "> +380953267557</td>
        </tr>

        <tr>
            <td class="centre">
                <form action="#" th:action="@{/user/list}" th:object="${userModel}">
                    <input class="form-submit-button" type="submit" value="Other User"/>
                </form>
            </td>

            <td class="centre">
                <div style="display: flex; justify-content: center;align-items: center; vertical-align: middle;">
                    <form th:action="@{/user/seller/info/edit/{id}(id=${userModel.id})}" method="get">
                        <input class="form-submit-button" type="submit" value="Edit"/>
                    </form>
                   <!-- <form action="#" th:action="@{/user/seller/info/edit}" th:object="${userModel}">
                        <input class="form-submit-button" type="submit" value="Edit profile"/>
                    </form>-->
                </div>
            </td>

        </tr>
    </table>

</div>
<!--<a th:href="@{/products}">Products</a>-->
</div>
</body>
</html>