<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<head>
    <style type="text/css">
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
        }

        .sidebar {
            width: 200px;
            heights: 900px;
            border: 1px solid black;
            float: left;
        }
    </style>

</head>
<body bgcolor="" text="Black">
<div class="sidebar">
    <tbody>
    <table>
        <tr>
            <td>
              <!--  <form action="#" th:action="@{/user/ordersView}" th:object="${userModel}">
                    <input class="centre" type="submit" value="Show orders"/>
                </form>-->
            </td>
        </tr>
        <tr>
            <td>

    </table>
    </td>
    </tr>
    </tbody>
    <ul>
        <li><a th:href="@{/user/seller/info}" th:text="#{index.sellerInfo}"></a></li>
        <div sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}">Log in</a></li>
            <li><a th:href="@{/registration}">Sign Up</a></li>
        </div>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log Out"/>
            </form>
        </div>
    </ul>

</div>
</body>


</html>