<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody>
<tr th:each="userModel: ${userList}">
    <td th:text="${userModel.id}" />
    <td th:text="${userModel.name}" />
</tr>
</tbody>
</body>
</html>