* {
  margin: 0;
  padding: 0;
}
/* index.html css style*/
html,body {
  height: 100%;
}
.content{
margin-left: 230 px;
}
/*#top {
 min-height:100%;
 margin-bottom:-150px;
 }*/

/*#wrapper {
  width:600px;
  margin:auto;
  margin-top: 10px;
}*/
.articleOne {
  flex: 1 0 auto;
}
.footerBar {
  flex: 0 0 auto;
}
/* header.html css style*/
.site-name {
  font-size:200%;
  margin:10px 10px 10px 0;
  padding: 5px;
}
.header-container {
  text-align: left;
  border-bottom: 1px solid #ccc;
  position: relative;
background: #53c2f4;
  color: white;
}
.header-container .header-bar  {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.header-container .header-bar  a  {
  color: white;
  /*font-size: bold;*/
}
#empty{
height:150px;}
/* footer.html css style*/
.footer-container {

 height:150px;

  margin: 5px;
  text-align: center;
  padding: 15px;
  border-top: 1px solid #ccc;
  background:#87c0dd;
  color: white;
}
.footer-container a{
  color: #204d74;
}
.footer-container a:hover{
  color: #000;
}
/* login.html css style*/

.loginConteiner{
  width: 450px;
  height: 280px;
  border: 1px solid #0a00ff;
  border-radius: 14px;
  margin: auto auto 100px;
  padding: auto;
  text-align: center;
}
#username {
  padding: 4px 5px;
  margin: 2px 5px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#username:focus {
  border: 2px solid #555;
}

#password {
  padding: 4px 5px;
  margin: 2px 5px 0 8px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#password:focus {
  border: 2px solid #555;
}

.btnLogin{
  margin: 5px;
  background-color: #008CBA;
  font-size: 12px;
  padding: 10px 24px;
  border-radius: 12px;
  border: none;
}

.btnLogin:hover{
  background-color: #2b669a;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/* leftMenu.html css style*/
.leftMenuOne ul {
  list-style: none;
  margin-top: 5px;
}

.leftMenuOne ul li a {
  text-decoration: none;
  display: block;
  padding: 6px 0;
  font-weight: bold;
}

.leftMenuOne ul li a:hover {
  color: #d01919;
}

.leftMenu {
  float: left;
  display: flex;
  flex-direction: column;
}

.languageName {
  display: block;
  width: 100%;
  height: 35px;
}

.languageName ul {
  float: right;
  list-style: none;
}

.languageName ul li {
  text-decoration: none;
  display: inline-block;
  padding: 6px 0;
  font-weight: bold;
}

.languageName ul li a {
  text-decoration: none;
}

.languageName ul li a:hover {
  color: #002896;
}

.rightContainer {
  text-align: center;
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  color: #686461;
}
caption {
  padding: 10px;
  color: white;
  background: #8FD4C1;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}

.form-submit-button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
}